{% extends 'base.html.twig' %}
{% block main %}
    <h1 class="text-info mb-5 mt-4">Awesome CEN Tutorials - From Zero To Hero</h1>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ asset('assets/img/intro.mp4') }}" allowfullscreen></iframe>
    </div>
{% endblock %}


